//	$HeadURL: https://my.redfive.biz/svn/izine/iZinePlns/Codebase/trunk/iZinePublishUI/Project/iZineCS5_5Release.xcconfig $
//	$Revision: 1156 $
//	$Date: 2010-05-17 14:25:23 +0530 (Mon, 17 May 2010) $
//	$Author: rajkumar.sehrawat $
//	
//	Creator: mindfire
//	Created: 2012 Oct 29
//	Copyright: 2008-2010 iZine Publish. All rights reserved.

//	Description: Configuration file for iZinePublishUI CS5_5 Release target

#include "../../InDesignCommonCS5_5.xcconfig"

BUILT_PRODUCTS_DIR = $(InDnCS55PlnsRelease)
DSTROOT = $(InDnCS55PlnsRelease)

DebugOrReleaseFolder = release

GCC_GENERATE_DEBUGGING_SYMBOLS = NO
GCC_OPTIMIZATION_LEVEL = 3
GCC_PREPROCESSOR_DEFINITIONS = $(GCC_PREPROCESSOR_DEFINITIONS) INDESIGN_CS5_5 InDnCS5_5 NDEBUG
GCC_THREADSAFE_STATICS = NO
GCC_MODEL_TUNING = G5

ARCHS = i386
DEAD_CODE_STRIPPING = YES

PRESERVE_DEAD_CODE_INITS_AND_TERMS = YES

OTHER_REZFLAGS = -d __GNUC__ -d MACINTOSH -d INDESIGN_CS5_5 -d InDnCS5_5 -d NDEBUG
ODFRCArg2 = -d RELEASE -d INDESIGN_CS5_5 -d InDnCS5_5 -d NDEBUG

//setting below this line are for debugging Release build, comment if not being debugging.
//ARCHS = $(NATIVE_ARCH)
//COPY_PHASE_STRIP = NO

//GCC_GENERATE_DEBUGGING_SYMBOLS = YES
GCC_OPTIMIZATION_LEVEL = 0
//GCC_DEBUGGING_SYMBOLS = full

//DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
