//	$HeadURL: $
//	$Revision: $
//	$Date: $
//	$Author: $
//	
//	Creator: Raj Kumar Sehrawat
//	Created: 2010 May 13
//	Copyright: 2008-2010 iZine Publish. All rights reserved.

//	Description: config file for iZinePublish mac project.

PRODUCT_NAME = iZinePublishUI

ALWAYS_REZ = YES
ARCHS = $(NATIVE_ARCH)
BIB_THROW = BIB_NO_THROW
CONFIGURATION_BUILD_DIR = $(BUILT_PRODUCTS_DIR)
DEBUG_INFORMATION_FORMAT = dwarf

GCC_VERSION = 4.0
GCC_ENABLE_CPP_EXCEPTIONS = NO
GCC_ENABLE_CPP_RTTI = YES
GCC_ENABLE_SYMBOL_SEPARATION = YES
GCC_INCREASE_PRECOMPILED_HEADER_SHARING = NO
GCC_INLINES_ARE_PRIVATE_EXTERN = YES
GCC_INPUT_FILETYPE = automatic
GCC_PFE_FILE_C_DIALECTS = c++ 
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREPROCESSOR_DEFINITIONS = $(GCC_PREPROCESSOR_DEFINITIONS) MACINTOSH $(BIB_THROW) WITH_COOKIES WITH_ZLIB WITH_OPENSSL WITH_GZIP ZPUIBuild 
GCC_PREPROCESSOR_DEFINITIONS_NOT_USED_IN_PRECOMPS = 
GCC_SYMBOLS_PRIVATE_EXTERN = YES
GCC_TREAT_WARNINGS_AS_ERRORS = NO
GCC_WARN_ABOUT_DEPRECATED_FUNCTIONS = NO
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_HIDDEN_VIRTUAL_FUNCTIONS = NO
GCC_WARN_INHIBIT_ALL_WARNINGS = NO
GCC_WARN_NON_VIRTUAL_DESTRUCTOR = NO
GCC_WARN_SHADOW = NO
GCC_WARN_UNUSED_VALUE = YES
GCC_WARN_UNUSED_VARIABLE = NO


EXCLUDED_RECURSIVE_SEARCH_PATH_SUBDIRECTORIES = .svn

MACOSX_DEPLOYMENT_TARGET_i386 = 10.4
MACOSX_DEPLOYMENT_TARGET_ppc = 10.4
ONLY_LINK_ESSENTIAL_SYMBOLS = YES
OTHER_LDFLAGS = -lssl -lcrypto -Wl,-executable_path -Wl,$(InDesignSDK_AppDir) -lz -framework iZinePublish
PER_ARCH_CFLAGS_i386 = -DMACTEL_SKIP

PLC_GENERATE_PKGINFO_FILE = YES
PLC_INCLUDES = $(REZ_SEARCH_PATHS)

PREBINDING = NO
SCAN_ALL_SOURCE_FILES_FOR_INCLUDES = YES
WARNING_CFLAGS = -Wno-deprecated 

INFOPLIST_PREPROCESS = YES
ALWAYS_SEARCH_USER_PATHS = YES

INFOPLIST_FILE = Info.plist
INFOPLIST_PREFIX_HEADER =  $(ZPUISourceDir)/iZineUIVersion.h

SYMROOT = ../../build
OBJROOT = $(SYMROOT)/$(PRODUCT_NAME)_Obj
SHARED_PRECOMPS_DIR = $(SYMROOT)/SharedPrecompiledHeaders/$(TARGET_NAME)
TARGET_BUILD_DIR = $(BUILT_PRODUCTS_DIR)
INSTALL_PATH = ./

//Project specific paths
FRAMEWORK_SEARCH_PATHS = $(SDKROOT)/System/Library/Frameworks  "$(TARGET_BUILD_DIR)"
REZ_SEARCH_PATHS = $(ZPUISourceDir)/ $(ZPUISourceDir)/Plugin $(ZPUIResourceDir)
HEADER_SEARCH_PATHS = /Developer/Headers/FlatCarbon 
USER_HEADER_SEARCH_PATHS =  $(ZPUISourceDir)/** $(ZPSDKDir)/Public/**  $(ZPSDKDir)/Private/** $(ZPCommonDir)/** $(ZPUIResourceDir)/** $(ZPSourceDir)
ODFRC_INCLUDE_PATHS = -i $(ZPUIResourceDir) -i $(ZPUIResourceDir)/Images -i $(ZPUISourceDir) -i $(ZPUISourceDir)/Plugin  -i $(ZPSDKDir)/Public -i $(ZPSourceDir)

LIBRARY_SEARCH_PATHS = $(inherited) $(LIBRARY_SEARCH_PATHS_IDModel)

//Model pln paths
ZPRootDir = $(ZPUIRootDir)/../iZinePublish
ZPSDKDir = $(ZPRootDir)/SDK
ZPSourceDir = $(ZPRootDir)/Source

//UI pln paths
ZPUIRootDir = ..
ZPUISDKDir = $(ZPUIRootDir)/SDK
ZPUISourceDir = $(ZPUIRootDir)/Source
ZPUIResourceDir = $(ZPUIRootDir)/Resource

//paths common to both plns
ZPCommonDir = $(ZPUIRootDir)/../Common
ZPExternalDir = ../../../../../iZine.ui/External

