//========================================================================================
//	
//	$HeadURL: svn://localhost/izine/iZinePlns/Codebase/trunk/iZinePublishUI/Resource/IZPUI.rc $
//	$Revision: 3456 $
//	$Date: 2011-07-06 15:34:29 +0200 (Wed, 06 Jul 2011) $
//	$Author: rajkumar.sehrawat $
//	
//	Creator: Raj Kumar Sehrawat
//	Created: 2010 Mar 19
//	Copyright: 2008-2010 iZine Publish. All rights reserved.
//	
//	Description: 
//========================================================================================

#include "WinRezFlags.h"
#include "BuildNumber.h"
#include "IZPUIID.h"

kIZPStoryIconRsrcID				ICON	DISCARDABLE	 "..\Resource\Images\story.ico"

1 VERSIONINFO
 FILEVERSION kIZPUIMajorVersionForRez, kIZPUIMinorVersionForRez, 0, kIZPUIBuildNumberForRez
 PRODUCTVERSION kIZPProductMajorVersionForRez, kIZPProductMinorVersionForRez, 0, 0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904b0"
		BEGIN
			VALUE "CompanyName", kIZPUICompanyValue "\0"
			VALUE "FileDescription", kIZPUIPlnFileDescStr "\0"
			VALUE "FileVersion", kIZPUIPluginFileVersion, "\0"
			VALUE "Svn Revision", kIZPUISVNNumberStr "\0"
			VALUE "InternalName", kIZPUIPluginName, "\0"
			VALUE "LegalCopyright", kIZPUICopyrightShortValue, "\0"

			VALUE "OriginalFilename", kIZPUIPluginFileName ".pln\0"
			VALUE "Plugin Version", kIZPUIPluginVersionString "\0"
			VALUE "ProductName", kIZPProductName "\0"
			VALUE "ProductVersion", kIZPProductVersionString "\0"
			VALUE "Copyright", kIZPUIPluginVersionString ", " kIZPUICopyrightValue , "\0"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0409, 1200
	END
END


//	Code generated by DollyXs code generator
