//	$HeadURL: svn://localhost/izine/iZinePlns/Codebase/trunk/iZineMedia/Project/iZineMediaCS3Debug.xcconfig $
//	$Revision: 2698 $
//	$Date: 2011-04-06 08:44:47 +0200 (Wed, 06 Apr 2011) $
//	$Author: aman.alam $
//	
//	Creator: Raj Kumar Sehrawat
//	Created: 2010 May 13
//	Copyright: 2008-2010 iZine Publish. All rights reserved.

//	Description: Configuration file for iZinePublish CS3 Debug target

#include "../../InDesignCommonCS3.xcconfig"

BUILT_PRODUCTS_DIR = $(InDnCS3PlnsDebug)
DSTROOT = $(InDnCS3PlnsDebug)

DebugOrReleaseFolder = debug

GCC_GENERATE_DEBUGGING_SYMBOLS = YES
GCC_OPTIMIZATION_LEVEL = 0
GCC_PREPROCESSOR_DEFINITIONS = $(GCC_PREPROCESSOR_DEFINITIONS) DEBUG INDESIGN_CS3
GCC_THREADSAFE_STATICS = NO
GCC_TREAT_WARNINGS_AS_ERRORS = NO

DEBUG_INFORMATION_FORMAT = dwarf-with-dsym

OTHER_REZFLAGS = -d __GNUC__ -d DEBUG -d MACINTOSH  -d INDESIGN_CS3
ODFRCArg2 = -d DEBUG -d INDESIGN_CS3
