//========================================================================================
//	
//	$HeadURL: svn://localhost/izine/iZinePlns/Codebase/trunk/iZineMedia/Resource/iZMedia.rc $
//	$Revision: 2739 $
//	$Date: 2011-04-07 13:10:59 +0200 (Thu, 07 Apr 2011) $
//	$Author: rajkumar.sehrawat $
//	
//	Creator: Raj Kumar Sehrawat
//	Created: 9-11-2010
//	Copyright: 2008-2011 iZine Publish. All rights reserved.
//	
//	Description:
//========================================================================================

#include "WinRezFlags.h"
#include "BuildNumber.h"
#include "IZMediaID.h"

1 VERSIONINFO
 FILEVERSION kIZMediaMajorVersionForRez, kIZMediaMinorVersionForRez, 0, kIZMediaBuildNumberForRez
 PRODUCTVERSION kIZPProductMajorVersionForRez, kIZPProductMinorVersionForRez, 0, 0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904b0"
		BEGIN
			VALUE "CompanyName", kIZMediaCompanyValue "\0"
			VALUE "FileDescription", kIZMediaPlnFileDescStr "\0"
			VALUE "FileVersion", kIZMediaPluginFileVersion, "\0"
			VALUE "InternalName", kIZMediaPluginName, "\0"
			VALUE "LegalCopyright", kIZMediaCopyrightShortValue, "\0"

			VALUE "OriginalFilename", kIZMediaPluginFileName ".pln\0"
			VALUE "Plugin Version", kIZMediaPluginVersionString "\0"
			VALUE "ProductName", kIZPProductName "\0"
			VALUE "ProductVersion", kIZPProductVersionString "\0"
			VALUE "Copyright", kIZMediaPluginVersionString ", " kIZMediaCopyrightValue , "\0"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0409, 1200
	END
END


//	Code generated by DollyXs code generator
