//	$HeadURL: svn://localhost/izine/iZinePlns/Codebase/trunk/iZineExport/Project/iZineExportCS5Debug.xcconfig $
//	$Revision: 3600 $
//	$Date: 2011-08-19 12:32:39 +0200 (Fri, 19 Aug 2011) $
//	$Author: rajkumar.sehrawat $
//	
//	Creator: Raj Kumar Sehrawat
//	Created: 2011 Aug 19
//	Copyright: 2008-2011 iZine Publish. All rights reserved.

//	Description: Configuration file for iZineExport CS5 Debug target

#include "../../InDesignCommonCS5.xcconfig"

BUILT_PRODUCTS_DIR = $(InCpCS5PlnsDebug)
DSTROOT = $(InCpCS5PlnsDebug)

DebugOrReleaseFolder = debug

DEAD_CODE_STRIPPING = YES
GCC_GENERATE_DEBUGGING_SYMBOLS = YES
GCC_OPTIMIZATION_LEVEL = 0
GCC_PREPROCESSOR_DEFINITIONS = $(GCC_PREPROCESSOR_DEFINITIONS) DEBUG InDnCS5 RVExport IZExport
GCC_THREADSAFE_STATICS = NO
GCC_TREAT_WARNINGS_AS_ERRORS = NO

DEBUG_INFORMATION_FORMAT = dwarf-with-dsym

OTHER_REZFLAGS = -d __GNUC__ -d DEBUG -d MACINTOSH  -d InDnCS5 -d RVExport -d IZExport
ODFRCArg2 = -d DEBUG -d InDnCS5 -d RVExport -d IZExport


// Add these to enable debug version libstdc++ library in the build
// As of 3/19/2009 some projects won't build
// GCC_PREPROCESSOR_DEFINITIONS = $(GCC_PREPROCESSOR_DEFINITIONS) DEBUG _GLIBCXX_DEBUG _GLIBCXX_DEBUG_PEDANTIC
