//========================================================================================
//	
//	$HeadURL: svn://localhost/izine/iZinePlns/Codebase/trunk/iZineExport/Resource/IZExp.rc $
//	$Revision: 2482 $
//	$Date: 2010-11-09 15:30:38 +0100 (Tue, 09 Nov 2010) $
//	$Author: rajkumar.sehrawat $
//	
//	Creator: Raj Kumar Sehrawat
//	Created: 9-11-2010
//	Copyright: 2008-2010 iZine Publish. All rights reserved.
//	
//	Description:
//========================================================================================

#include "WinRezFlags.h"
#include "BuildNumber.h"
#include "IZExpID.h"

1 VERSIONINFO
 FILEVERSION kIZExpMajorVersionForRez, kIZExpMinorVersionForRez, 0, kIZExpBuildNumberForRez
 PRODUCTVERSION kIZPProductMajorVersionForRez, kIZPProductMinorVersionForRez, 0, 0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904b0"
		BEGIN
			VALUE "CompanyName", kIZExpCompanyValue "\0"
			VALUE "FileDescription", kIZExpPlnFileDescStr "\0"
			VALUE "FileVersion", kIZExpPluginFileVersion, "\0"
			VALUE "InternalName", kIZExpPluginName, "\0"
			VALUE "LegalCopyright", kIZExpCopyrightShortValue, "\0"

			VALUE "OriginalFilename", kIZExpPluginFileName ".pln\0"
			VALUE "Plugin Version", kIZExpPluginVersionString "\0"
			VALUE "ProductName", kIZPProductName "\0"
			VALUE "ProductVersion", kIZPProductVersionString "\0"
			VALUE "Copyright", kIZExpPluginVersionString ", " kIZExpCopyrightValue , "\0"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0409, 1200
	END
END


//	Code generated by DollyXs code generator
